# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
ENV/
venv/
.venv/

# Environment variables
.env


# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Python egg files
*.egg-info/ 